/* 
	http://meyerweb.com/eric/tools/css/reset/
   	v2.0 | 20110126
   	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset css */

input[type='submit'], button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin : 2rem auto;
	width: 12rem;
	text-align: center;
	border: 1px solid #1d6154;
	border-radius: 4rem;
}

input[type='submit']:hover, button:hover {
	cursor: pointer;
	box-shadow: 0.05rem 0.05rem 0.05rem #1d6154;
}

body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 0.875rem;
	color: #3d3d3d;
	background-color: #fffef8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 3rem 9rem;
}

section {
	margin: 3rem 9rem;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 1.25rem;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 0.625rem;
	letter-spacing: 0.1rem;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 2rem;
	color: #1d6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 0.625rem;
	font-size: 1.2rem;
}

nav img[src='./assets/icons/instagram.png'] {
	max-width: 1.2rem;
	max-height: 1.2rem;
}

li:hover, a:hover {
	color: #b1663c;
}

a {
	text-decoration: none;
	color: inherit;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 3rem 9rem;
}

#introduction figure {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1rem;
}

#introduction p {
	margin-bottom: 0.5rem;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1rem;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1.25rem;
	grid-row-gap: 1.25rem;
}

.gallery-filter {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
	justify-content: center;
}

.gallery-filter button {
	background-color: #fffef8;
	color: #1d6154;
	margin: 2rem 0.75rem;
	height: 2rem;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2 {
	margin-bottom: 1.25rem;
}

#contact form {
	text-align: left;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 3rem;
	font-size: 1.2rem;
	border: none;
	box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2rem 0 1rem 0;
}

#contact textarea {
	border: none;
	box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.09);
}

footer {
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2rem;
}

.disclaimer {
	font-weight: 300;
	font-size: 0.875rem;
}

/* edition mode */

.edition-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 3rem;
	column-gap: 0.75rem;
}

.edition-header i,
.edition-header span {
	color: white;
}

.edition-header button {
	margin: 0;
	width: 16rem;
	height: 2rem;
	background-color: white;
	color: black;
}

.edition-figure {
	width: 80%;
	margin: auto;
	padding-top: 1rem;
}

.edition-intro {
	margin-bottom: 1rem;
}

.edition-portfolio {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 1.25rem;
}

/* modal */

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-back, .modal-close {
	margin: 0;
	width: auto;
	height: auto;
	border: none;
	color: #3d3d3d;
	background-color: white;
}

.modal-back {
	align-items: flex-start;
}

.modal-close {
	align-items: flex-end;
}

.modal-close:hover, .modal-back:hover {
	cursor: pointer;
	color: #b1663c;
	box-shadow: none;
}

.modal-header {
	font-family: 'Work sans';
	font-weight: 400;
	font-size: 1.5rem;
	margin-bottom: 2.25rem;
	color: #3d3d3d;
}

.modal-top {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.modal-center {
	border-bottom: 1px solid #3d3d3d;
	width: 75%;
}

.modal-container-gallery, .modal-container-form {
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 40rem;
	width: 35rem;
	padding: 1rem;
	background-color: #fffef8;
	border-radius: 0.75rem;
}

.modal-gallery {
	max-width: 30rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1.25rem;
	grid-row-gap: 1.25rem;
	padding-bottom: 2rem;
}

.modal-gallery figure {
	display: flex;
	flex-direction: column;
	position: relative;
}

.modal-gallery img {
	width: 100%;
}

.modal-gallery .fa-trash {
	position: absolute;
	right: 0.25rem;
	top: 0.25rem;
	font-size: 0.66rem;
	background-color: black;
	color: white;
	width: 1rem;
	height: 1rem;
	border-radius: 0.125rem;
	text-align : center;
	line-height: 1rem;
}

.modal-gallery .fa-arrows-up-down-left-right {
	display: none;
	position: absolute;
	right: 1.5rem;
	top: 0.25rem;
	font-size: 0.66rem;
	background-color: black;
	color: white;
	width: 1rem;
	height: 1rem;
	border-radius: 0.125rem;
	text-align : center;
	line-height: 1rem;
}

.modal-figure:hover .fa-arrows-up-down-left-right {
	display: inline-block;
}

.fa-trash:hover,  .fa-arrows-up-down-left-right:hover {
	cursor: pointer;
}

#modal-form {
	display: flex;
	flex-direction: column;
	row-gap: 0.875rem;
	padding-bottom: 2rem;
}

#modal-form-title, #modal-form-category {
	height: 2rem;
	font-size: 1.2rem;
	border: none;
	box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.09);
}

.modal-form-feedback {
	display: none;
	align-self: center;
	color: red;
	font-size: 1.25rem;
}

.submit-feedback {
	display: none;
	align-self: center;
	color: green;
	font-size: 1.15rem;
}

.modal-file-container {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
	justify-content: center;
	align-items: center;
	height: 12rem;
	background-color: #e8f1f6;
}

.modal-file-container .fa-image {
	text-align: center;
	color: #b9c5cc;
	font-size: 4.5rem;
	width: 5rem;
	height: 5rem;
}

.modal-file-container p {
	font-size: 0.75rem;
}

.file-button {
	color: #306685;
	background-color: #cbd6dc;
	margin : 0.5rem;
	width: 12rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	border: 1px solid #306685;
	border-radius: 4rem;
}

.file-button:hover {
	cursor: pointer;
	box-shadow: 0.05rem 0.05rem 0.05rem #306685;
}

.modal-bottom {
	display:flex ;
	flex-direction: column;
}

.add-photo-button {
	height: 2rem;
	margin: 2rem 0 0.5rem 0;
}

.submit-photo-button {
	height: 2rem;
	border: none;
}

.submit-photo-button:disabled {
	background-color: #b9c5cc;
}

.submit-photo-button:disabled:hover {
	box-shadow: none;
	cursor: default;
}

.delete-all-button {
	background-color: white;
	color: #b1663c;
	border: none;
	width: auto;
	margin: 0.5rem 0 1.75rem 0;
	font-weight: 400;
}

.delete-all-button:hover {
	box-shadow: none;
}

#file-container {
	position: absolute;
	top: 0.5rem;
	z-index: 1;
	object-fit: contain;
	width: 100%;
	height: 50%;
}

/* login */

.nav-login {
	font-weight: 600;
}

#login {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}

#login > * {
	text-align: center;
}

#login h2 {
	margin-top: 2rem;
}

#login form {
	text-align: left;
	margin-top: 2rem;;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 3rem;
	font-size: 1.2rem;
	border: none;
	box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2rem 0 1rem 0;
}

.login-feedback {
	display: none;
	align-self: center;
	color: red;
	font-size: 1.5rem;
}

.forget-password {
	justify-content: center;
	text-decoration-line: underline;
}

footer {
	margin-top: 6rem;
}

/* hide */

.hidden {
	display: none;
}